<% layout("/layouts/boilerplate") %>

<div class="alert alert-danger d-flex align-items-center" role="alert">
  <svg class="bi me-2" width="16" height="16" fill="currentColor">
    <use xlink:href="#exclamation-triangle-fill"></use>
  </svg>
  <h4 class="mb-0"><%= message %></h4>
</div>
