<% layout("/layouts/boilerplate") %>

    <div class="col-6 offset-2">
        <br>
        <h3>Login</h3>
        <form class="needs-validation" method="post" action="/login" novalidate>
            <div class="mb-3">

                <label for="username" class="form-label"> Username:</label>
                <input required name="username" type="text" class="form-control">
              
            </div>

           

            <div class="mb-3">

                <label for="password" class="form-label">Password:</label>
                <input required name="password"  type="password" class="form-control">
                
            </div>

        <button class="btn btn-success">Login</button>

        </form>

    </div>

    